 // color theme: 
 // "gamebookers" by plamenjC 
 // licence C-BY-NC-SA
 $blue:rgb(50, 153, 187);
 $orange:rgb(255, 153, 0);
 $grey:rgb(66, 66, 66);
 $white:rgb(233, 233, 233);
 $lightGrey:rgb(188, 188, 188);

body {
	background-color:$white;

	> header {
		background-color:$blue;
		height:10vh;
	}

	> footer {
		background-color:$blue;
		height:10vh;
	}

}

main {
	height:70vh;
	width:80vw;
	margin:0 auto;
	color:$grey;
	background-color:$lightGrey;
	padding:10px;

	article {
		border:1px solid $grey; 
		border-top:5px solid $orange;
		margin:10px;
		padding:10px;
	}
}
